* {
  padding: 0;
    margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background : #1A4341;
  height: 300px;
  width: 400px;
  position: relative;
}

.a {
  width: 75px;
  height: 150px;
  background: #998235;
  border-radius: 100px 0 0 100px;
  top: 75px;
  left: 125px;
  position: absolute;
}

.b {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #F3AC3C;
  top: 50px;
  right: 100px;
  border-radius: 0 100px 0 0;
}

.c {
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
  background: #0B2429;
  top : 105px;
  left: 155px;
}